absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
APScheduler==3.11.2
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.4.0
blinker==1.9.0
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cryptography==46.0.5
cycler==0.12.1
distro==1.9.0
exceptiongroup==1.3.1
fastapi==0.136.3
Flask==3.1.3
flatbuffers==25.12.19
fonttools==4.62.1
fpdf==1.7.2
frozenlist==1.8.0
gast==0.4.0
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.49.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.78.0
gTTS==2.5.4
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.5.0
libclang==18.1.1
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
ml_dtypes==0.5.4
multidict==6.7.1
namex==0.1.0
narwhals==2.18.0
numpy==2.2.6
oauthlib==3.3.1
openai==2.28.0
opt_einsum==3.4.0
optree==0.19.0
packaging==26.0
pandas==2.3.3
pickle-mixin==1.0.2
pillow==12.1.1
plotly==6.6.0
propcache==0.4.1
protobuf==6.33.5
pyarrow==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.2
PyJWT==2.12.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.3.3
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
SpeechRecognition==3.15.1
starlette==1.2.1
streamlit==1.55.0
streamlit-lottie==0.0.5
streamlit_mic_recorder==0.0.8
tenacity==9.1.4
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.5
tqdm==4.67.3
twilio==9.10.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.48.0
watchdog==6.0.0
Werkzeug==3.1.6
wrapt==2.1.2
yarl==1.23.0
fastapi
uvicorn
pandas
scikit-learn
numpy
python-dotenv
requests
